#wrap {
  width: 100%;
}
#wrap #main {
  width: 100%;
}
#wrap #main #section1 {
  width: 100%;
}
#wrap #main #section1 .slide-container {
  position: relative;
  width: 100%;
}
#wrap #main #section1 .slide-container .slide-view {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap {
  width: 2200%;
  display: flex;
  margin: 0 0 0 -100%;
  position: relative;
  transition: all 0.6s ease-in-out;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide {
  width: 100%;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide a {
  display: block;
  width: 100%;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide a img {
  width: 100%;
}
#wrap #main #section1 .slide-container > a {
  opacity: 1;
  z-index: 2;
  position: absolute;
  top: 50%;
  margin: -26px 0 0 0;
  width: 52px;
  height: 52px;
  opacity: 0;
  transition: all 1s ease-in-out;
}
#wrap #main #section1 .slide-container > a.next-arrow-btn {
  right: 17%;
}
#wrap #main #section1 .slide-container > a.next-arrow-btn img {
  width: auto;
}
#wrap #main #section1 .slide-container > a.prev-arrow-btn {
  left: 17%;
}
#wrap #main #section1 .slide-container > a.prev-arrow-btn img {
  width: auto;
  transform: rotate(-180deg);
}
#wrap #main #section1 .slide-container > a.on {
  opacity: 1;
}
#wrap #main #section1 .slide-container > span {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  right: 33%;
  padding: 3px 12px 6px 12px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  color: #fff;
}
#wrap #main #section1 .slide-container > span.page-number-box em {
  font-size: 14px;
}
#wrap #main #section1 .slide-container > span.page-number-box i {
  font-size: 16px;
  margin: 0 5px;
}