#wrap {
  width: 100%;
}
#wrap #header {
  width: 100%;
  background: #fff;
  z-index: 3;
  position: relative;
}
#wrap #header .row1 {
  width: 100%;
  position: relative;
  z-index: 3;
}
#wrap #header .row1 .container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
#wrap #header .row1 .container .content {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
}
#wrap #header .row1 .container .content span {
  position: relative;
}
#wrap #header .row1 .container .content span a {
  color: #333;
  font-weight: 500;
}
#wrap #header .row1 .container .content span a.on {
  color: #5f0080;
  font-weight: 600;
}
#wrap #header .row1 .container .content span a img {
  width: 8px;
  transform: translateY(-2px);
}
#wrap #header .row1 .container .content span i {
  margin: 0 8px;
  font-size: 12px;
  vertical-align: top;
  color: #ccc;
}
#wrap #header .row1 .container .content span .sub {
  background: #fff;
  position: absolute;
  top: 20px;
  right: 0;
  width: 130px;
  border: 1px solid #ccc;
}
#wrap #header .row1 .container .content span .sub ul {
  padding: 5px 10px;
}
#wrap #header .row1 .container .content span .sub ul li {
  padding: 5px 0;
}
#wrap #header .row1 .container .content span .sub ul li a {
  color: #333;
}
#wrap #header .row1 .container .content span .sub ul li a:hover {
  color: #000;
}
#wrap #header .row2 {
  position: relative;
  z-index: 2;
  width: 100%;
}
#wrap #header .row2 .container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
#wrap #header .row2 .container .content {
  width: 100%;
  display: flex;
}
#wrap #header .row2 .container .content .left {
  width: 325px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#wrap #header .row2 .container .content .left span:nth-child(3) a {
  color: #ccc;
}
#wrap #header .row2 .container .content .left span a {
  color: #5f0080;
  font-size: 17px;
  font-weight: 600;
}
#wrap #header .row2 .container .content .left span a img {
  margin: 0 15px 0 0;
}
#wrap #header .row2 .container .content .left span i {
  margin: 0 8px;
}
#wrap #header .row2 .container .content .center {
  width: 400px;
  height: 64px;
}
#wrap #header .row2 .container .content .center div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
#wrap #header .row2 .container .content .center div input {
  width: 100%;
  height: 48px;
  background: #fff;
  border: 1px solid #5f0080;
  font-size: 15px;
  color: #333;
  border-radius: 5px;
  padding: 0 15px;
}
#wrap #header .row2 .container .content .center div a {
  position: absolute;
  right: 5px;
  top: 14px;
}
#wrap #header .row2 .container .content .center div a img {
  width: auto;
}
#wrap #header .row2 .container .content .right {
  width: 325px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#wrap #header .row2 .container .content .right span {
  margin: 0 0 0 20px;
  position: relative;
}
#wrap #header .row2 .container .content .right span .sub {
  position: absolute;
  top: 47px;
  left: 50%;
  margin: 0 0 0 -127px;
  width: 257px;
  background: #fff;
  border: 1px solid #ccc;
}
#wrap #header .row2 .container .content .right span .sub::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 11px;
  top: -11px;
  left: 50%;
  margin: 0 0 0 -9px;
  background: url(../img/header/icon_map.svg);
}
#wrap #header .row2 .container .content .right span .sub ul {
  width: 100%;
  padding: 15px;
}
#wrap #header .row2 .container .content .right span .sub ul li {
  width: 100%;
  padding: 5px 0;
}
#wrap #header .row2 .container .content .right span .sub ul li h2 {
  font-size: 15px;
  color: #5f0080;
}
#wrap #header .row2 .container .content .right span .sub ul li h3 {
  font-size: 15px;
  color: #666;
}
#wrap #header .row2 .container .content .right span .sub ul li button {
  border-radius: 3px;
  height: 35px;
  font-size: 12px;
  border: 1px solid #5f0080;
}
#wrap #header .row2 .container .content .right span .sub ul li button.login {
  color: #5f0080;
  width: 80px;
  background: #fff;
  margin: 0 auto 0 0;
}
#wrap #header .row2 .container .content .right span .sub ul li button.addr-search {
  background: #5f0080;
  color: #fff;
  width: 140px;
  margin: 0 0 0 auto;
}
#wrap #header .row2 .container .content .right span .sub ul li button.addr-search img {
  width: 22px;
  vertical-align: top;
  transform: translateY(-1px);
}
#wrap #header .row2 .container .content .right span a img {
  width: auto;
}
#wrap #header .row2.on {
  height: 56px;
}
#wrap #header .row2.on .container .content .center {
  position: fixed;
  top: -4px;
  right: 50%;
  margin: 0 -350px 0 0;
  width: 250px;
}
#wrap #header .row2.on .container .content .center div input {
  border: 0;
  height: 40px;
  outline: 0;
}
#wrap #header .row2.on .container .content .center div input:focus {
  outline: 0;
}
#wrap #header .row2.on .container .content .center div input::-moz-placeholder {
  font-size: 12px;
}
#wrap #header .row2.on .container .content .center div input::placeholder {
  font-size: 12px;
}
#wrap #header .row2.on .container .content .right {
  position: fixed;
  top: -5px;
  right: 50%;
  margin: 0 -525px 0 0;
}
#wrap #header .row3 {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
#wrap #header .row3 .container {
  width: 100%;
}
#wrap #header .row3 .container .content {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
}
#wrap #header .row3 .container .content .left {
  width: 225px;
  height: 56px;
  display: flex;
  align-items: center;
}
#wrap #header .row3 .container .content .left a {
  display: block;
  padding: 0 0 0 16px;
  background: url(../img/intro/icon_app_bar.svg) no-repeat 0 center;
}
#wrap #header .row3 .container .content .left a span {
  margin: 0 0 0 13px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
#wrap #header .row3 .container .content .left a:hover {
  background-image: url(../img/intro/icon_app_bar_purple.svg);
}
#wrap #header .row3 .container .content .left a:hover span {
  color: #5f0080;
}
#wrap #header .row3 .container .content .center {
  width: 600px;
  height: 56px;
}
#wrap #header .row3 .container .content .center nav {
  width: 100%;
  height: 100%;
}
#wrap #header .row3 .container .content .center nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#wrap #header .row3 .container .content .center nav ul li a {
  font-weight: 500;
  font-size: 16px;
  color: #333;
}
#wrap #header .row3 .container .content .center nav ul li a:hover {
  color: #5f0080;
  font-weight: 600;
  text-decoration: underline;
}
#wrap #header .row3 .container .content .center nav ul li.on a {
  color: #5f0080;
  font-weight: 600;
}
#wrap #header .row3 .container .content .right {
  width: 225px;
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#wrap #header .row3 .container .content .right a {
  font-size: 13px;
  padding: 7px 15px;
  border: 1px solid #ccc;
  border-radius: 14px;
}
#wrap #header .row3 .container .content .right a strong {
  color: #5f0080;
  font-weight: 600;
  letter-spacing: 1.2px;
}
#wrap #header .row3 .container .content .right a span {
  color: #666;
  margin: 0 0 0 3px;
  font-weight: 500;
}
#wrap #header .row3.on {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
#wrap #header .row3.on .container .content .left {
  width: 180px;
}
#wrap #header .row3.on .container .content .center {
  width: 460px;
}
#wrap #header .row3.on .container .content .right {
  display: none;
}/*# sourceMappingURL=header.css.map */