.mainSub {
    width:100%;    
    section {
        width:100%;
        &#section1{
            width:100%;
            .container {
                width:100%;
                max-width: 1068px;
                margin: 0 auto;
                .gap{
                    width:100%;
                    padding: 0 9px;
                    .title {
                        width:100%;
                        text-align: center;
                        h2 {
                            font-size: 28px;
                        }
                    }
                    .content {
                        width:100%;
                        a {
                            display: block;
                            width:100%;
                            img {
                                width:100%;
                            }
                        }
                    }
                }
            }
        }
        &#section2{
           padding: 60px 0 100px 0;
           .container {
            width:100%;
            max-width: 1068px;
            margin: 0 auto;
                .gap{
                    width:100%;
                    padding: 0 9px;
                    .title {
                        width:100%;
                        text-align: center;
                        padding: 0 0 50px 0;
                        h2 {
                            font-size: 28px;
                            font-weight: 500;
                        }
                    }
                    .content {
                        width:100%;
                        display: flex;
                        justify-content: space-between;                        
                        .left {
                            width: 25% * 1;
                            height: 100vh;
                            padding: 0 47px 0 0;
                            user-select: none; 
                             .left-head {
                                padding: 0 0 20px 0;
                                display: flex;
                                justify-content: space-between;
                                h3 {
                                    font-size: 15px;font-weight: 600;color:#333;
                                }
                                span {
                                    font-size: 14px;font-weight: 400;color:#999;
                                    img {
                                        width:12px;
                                        margin: 0 7px 0 0;
                                        transform: translateY(-2px);
                                    }
                                }
                             } 
                             #category{
                                width: 100%;
                                 
                                > ul {
                                    width: 100%;
                                   > li {
                                        width: 100%;
                                        border-top: 1px solid #eee;
                                        &:last-child{
                                            border-bottom: 1px solid #eee;
                                        }
                                       > a {
                                            display: flex;
                                            width: 100%;
                                            height: 52px;
                                            align-items: center;  
                                            justify-content: space-between;

                                            i {
                                                display: inline-block;                                               
                                                width: 18px;
                                                height: 18px;
                                                transition: all 0.3s;
                                                background: url(../../../../../public/img/sub_page/sub_01/icon_arrow_up.svg) no-repeat 50% 50%;
                                            }                                            
                                            &.on{
                                                i {
                                                  transform: rotate(-180deg);  
                                                }                                                
                                            }

                                            // 서브메뉴
                                            // font-size:14px color:#8d4cc4                                            
                                        }
                                        .sub {
                                            width:100%;
                                            padding: 0 0 15px 0;                                                                                      
                                            display: none;
                                             .row1 {
                                                padding:10px 0 20px 0;
                                                button {
                                                    border:0;
                                                    background: #fff;
                                                    cursor: pointer;
                                                    width: auto;
                                                    height: auto;
                                                    font-size: 12px;
                                                    color:#666;
                                                    font-weight: 600;
                                                    &.on {
                                                        color:#5f0080;
                                                    }
                                                }
                                                i {
                                                    font-size: 11px;
                                                    color:#ddd;
                                                    margin: 0 10px;
                                                    vertical-align: middle;
                                                }
                                             }                                    
                                             .row2 {
                                                padding: 10px 0 20px 0;
                                                a {
                                                    margin: 2px 0;
                                                    display: inline-flex;
                                                    width: 22px;
                                                    height: 22px;
                                                    background: #f7f7f7;
                                                    color:#bbb;
                                                    font-weight: 600;
                                                    justify-content: center;
                                                    align-items: center;
                                                    font-size: 13px;
                                                    &:first-child {
                                                        width:auto;
                                                        padding:10px;
                                                        background: #333;
                                                        color:#fff;
                                                    }
                                                    &:last-child {
                                                        width:auto;
                                                        padding:10px;
                                                    }
                                                }
                                                i {margin:0 2px 0 0;}
                                             }
                                            ul {
                                                width:100%;
                                                padding: 0 0 15px 0;
                                                li {
                                                    width:100%;
                                                    padding:10px 0;
                                                    label {
                                                        
                                                        font-size: 14px;
                                                        color:#333;
                                                        font-weight: 400;
                                                        cursor: pointer;
                                                        transition: all 0.3s;
                                                        &:hover{
                                                            color:#5f0080;
                                                            font-weight: 500;
                                                        }
                                                        input[type='checkbox']{
                                                            width:18px;
                                                            height:18px;
                                                            appearance: none;
                                                            background: url(../../../../../public/img/sub_page/sub_01/icon_check_off.svg) no-repeat 50% 50%;
                                                            margin: 0 8px 0 0;
                                                            vertical-align: top;
                                                            &:checked {
                                                                background-image: url(../../../../../public/img/sub_page/sub_01/icon_check_on.svg);
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            > button{
                                                font-size: 12px;
                                                color:#666;
                                                border:0;
                                                background: #fff;
                                                cursor: pointer;
                                                width: 100%;
                                                height: 30px;
                                                img {
                                                    width:18px;
                                                    height:18px;
                                                    transform: rotate(90deg);
                                                    vertical-align: top;                                                    
                                                }
                                            }
                                        }
                                    }
                                }
                             }  

                        }
                        .right {
                            width: 25% * 3;
                            height: auto;
                            .right-head {
                                width:100%;
                                padding: 0 9px 20px 9px;
                                display: flex;
                                justify-content: space-between;
                                span {
                                    font-size: 14px;
                                    
                                    &:first-child{
                                        font-weight: 600;
                                        color:#333;
                                    }
                                    &:last-child{
                                        font-weight: 500;                                        
                                        a {
                                            color:#999;                                            
                                            &.on{
                                                color:#333;
                                                font-weight: 600;
                                            }
                                            
                                        }
                                        a:focus {
                                            color: #333;
                                            font-weight: 600;
                                        }
                                    }
                                 
                                }
                                img {
                                    width: 14px;
                                    height: 20px;
                                }
                                i {
                                    font-size: 11px;
                                    color:#ddd;
                                    margin: 0 10px;
                                }
                            }
                            .product {
                                width:100%;
                                display: flex;
                                position: relative;
                                flex-flow: row  wrap;
                                .list {
                                    width:33.333%;
                                    user-select: none;
                                    .list-gap {
                                        padding: 0 9px;
                                        width:100%;
                                        cursor: pointer;
                                        .img-box {
                                            width:100%;
                                            position: relative;
                                            overflow: hidden;
                                            > img {
                                                width:100%;
                                                z-index: 1;
                                                position: relative;
                                                transition: all 0.3s;
                                                &:hover{
                                                    transform: scale(1.05);
                                                }
                                            }
                                            span {
                                                position: absolute;
                                                z-index: 2;
                                                right:20px;
                                                bottom:20px;
                                                img {
                                                    width:auto;
                                                }
                                            }
                                        }
                                        .txt-box {
                                            padding: 20px 0 10px 0;                                            
                                            ul {
                                                li {
                                                    padding:5px 0;
                                                    color:#333;
                                                    font-size: 16px;
                                                    &:nth-child(1){
                                                        font-weight: 500;
                                                        line-height: 140%;
                                                    }
                                                    &:nth-child(2){
                                                        font-weight: 600;
                                                        strong{font-weight: 600;color:#c00;}    
                                                        span{font-weight: 600;margin:0 0 0 10px;}    
                                                        em{
                                                            font-size: 14ox;
                                                            text-decoration: line-through;
                                                            display: block;
                                                            padding: 5px 0 0 0;
                                                            font-weight: 400;
                                                            color:#999;
                                                        }    
                                                    }
                                                    &:nth-child(3){
                                                        img {width:15px;transform: translateY(-1px);}
                                                        span {font-size: 12px;color:#999;margin:0 0 0 2px;}
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            // 페이지네이션 : 페이지버튼 디자인
                            .page-btn-box{
                                padding: 60px 0 0 0;
                                text-align: center;
                                a {
                                    display: inline-flex;
                                    width:30px;
                                    height:30px;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 14px;
                                    color:#333;
                                    border: 1px solid #eee;
                                    margin: 0 2px;
                                    background: #fff;
                                    &.prev-btn {
                                        margin: 0 20px 0 0;           
                                        border:1px solid #5f0080;
                                        img {
                                            width:60%;
                                            height:60%;
                                            transform: rotate(180deg);
                                        }
                                    }
                                    &.next-btn {
                                        margin: 0 0 0 20px;
                                        border:1px solid #5f0080;
                                        img {
                                            width:60%;
                                            height:60%;
                                        }
                                    }
                                    &.on{
                                        color:#fff;
                                        border: 1px solid #5f0080;
                                        background: #5f0080;
                                    }                                       
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}