.mainSub {
  width: 100%;
}
.mainSub section {
  width: 100%;
}
.mainSub section#section1 {
  width: 100%;
}
.mainSub section#section1 .container {
  width: 100%;
  max-width: 1068px;
  margin: 0 auto;
}
.mainSub section#section1 .container .gap {
  width: 100%;
  padding: 0 9px;
}
.mainSub section#section1 .container .gap .title {
  width: 100%;
  text-align: center;
}
.mainSub section#section1 .container .gap .title h2 {
  font-size: 28px;
}
.mainSub section#section1 .container .gap .content {
  width: 100%;
}
.mainSub section#section1 .container .gap .content a {
  display: block;
  width: 100%;
}
.mainSub section#section1 .container .gap .content a img {
  width: 100%;
}
.mainSub section#section2 {
  padding: 60px 0 100px 0;
}
.mainSub section#section2 .container {
  width: 100%;
  max-width: 1068px;
  margin: 0 auto;
}
.mainSub section#section2 .container .gap {
  width: 100%;
  padding: 0 9px;
}
.mainSub section#section2 .container .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 0 50px 0;
}
.mainSub section#section2 .container .gap .title h2 {
  font-size: 28px;
  font-weight: 500;
}
.mainSub section#section2 .container .gap .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mainSub section#section2 .container .gap .content .left {
  width: 25%;
  height: 100vh;
  padding: 0 47px 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.mainSub section#section2 .container .gap .content .left .left-head {
  padding: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
}
.mainSub section#section2 .container .gap .content .left .left-head h3 {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}
.mainSub section#section2 .container .gap .content .left .left-head span {
  font-size: 14px;
  font-weight: 400;
  color: #999;
}
.mainSub section#section2 .container .gap .content .left .left-head span img {
  width: 12px;
  margin: 0 7px 0 0;
  transform: translateY(-2px);
}
.mainSub section#section2 .container .gap .content .left #category {
  width: 100%;
}
.mainSub section#section2 .container .gap .content .left #category > ul {
  width: 100%;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li {
  width: 100%;
  border-top: 1px solid #eee;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li:last-child {
  border-bottom: 1px solid #eee;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li > a {
  display: flex;
  width: 100%;
  height: 52px;
  align-items: center;
  justify-content: space-between;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li > a i {
  display: inline-block;
  width: 18px;
  height: 18px;
  transition: all 0.3s;
  background: url(../../../../../public/img/sub_page/sub_01/icon_arrow_up.svg) no-repeat 50% 50%;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li > a.on i {
  transform: rotate(-180deg);
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub {
  width: 100%;
  padding: 0 0 15px 0;
  display: none;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub .row1 {
  padding: 10px 0 20px 0;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub .row1 button {
  border: 0;
  background: #fff;
  cursor: pointer;
  width: auto;
  height: auto;
  font-size: 12px;
  color: #666;
  font-weight: 600;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub .row1 button.on {
  color: #5f0080;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub .row1 i {
  font-size: 11px;
  color: #ddd;
  margin: 0 10px;
  vertical-align: middle;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub .row2 {
  padding: 10px 0 20px 0;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub .row2 a {
  margin: 2px 0;
  display: inline-flex;
  width: 22px;
  height: 22px;
  background: #f7f7f7;
  color: #bbb;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub .row2 a:first-child {
  width: auto;
  padding: 10px;
  background: #333;
  color: #fff;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub .row2 a:last-child {
  width: auto;
  padding: 10px;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub .row2 i {
  margin: 0 2px 0 0;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub ul {
  width: 100%;
  padding: 0 0 15px 0;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub ul li {
  width: 100%;
  padding: 10px 0;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub ul li label {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub ul li label:hover {
  color: #5f0080;
  font-weight: 500;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub ul li label input[type=checkbox] {
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../../../../../public/img/sub_page/sub_01/icon_check_off.svg) no-repeat 50% 50%;
  margin: 0 8px 0 0;
  vertical-align: top;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub ul li label input[type=checkbox]:checked {
  background-image: url(../../../../../public/img/sub_page/sub_01/icon_check_on.svg);
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub > button {
  font-size: 12px;
  color: #666;
  border: 0;
  background: #fff;
  cursor: pointer;
  width: 100%;
  height: 30px;
}
.mainSub section#section2 .container .gap .content .left #category > ul > li .sub > button img {
  width: 18px;
  height: 18px;
  transform: rotate(90deg);
  vertical-align: top;
}
.mainSub section#section2 .container .gap .content .right {
  width: 75%;
  height: auto;
}
.mainSub section#section2 .container .gap .content .right .right-head {
  width: 100%;
  padding: 0 9px 20px 9px;
  display: flex;
  justify-content: space-between;
}
.mainSub section#section2 .container .gap .content .right .right-head span {
  font-size: 14px;
}
.mainSub section#section2 .container .gap .content .right .right-head span:first-child {
  font-weight: 600;
  color: #333;
}
.mainSub section#section2 .container .gap .content .right .right-head span:last-child {
  font-weight: 500;
}
.mainSub section#section2 .container .gap .content .right .right-head span:last-child a {
  color: #999;
}
.mainSub section#section2 .container .gap .content .right .right-head span:last-child a.on {
  color: #333;
  font-weight: 600;
}
.mainSub section#section2 .container .gap .content .right .right-head img {
  width: 14px;
  height: 20px;
}
.mainSub section#section2 .container .gap .content .right .right-head i {
  font-size: 11px;
  color: #ddd;
  margin: 0 10px;
}
.mainSub section#section2 .container .gap .content .right .product {
  width: 100%;
  display: flex;
  position: relative;
  flex-flow: row wrap;
}
.mainSub section#section2 .container .gap .content .right .product .list {
  width: 33.333%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.mainSub section#section2 .container .gap .content .right .product .list .list-gap {
  padding: 0 9px;
  width: 100%;
  cursor: pointer;
}
.mainSub section#section2 .container .gap .content .right .product .list .list-gap .img-box {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.mainSub section#section2 .container .gap .content .right .product .list .list-gap .img-box > img {
  width: 100%;
  z-index: 1;
  position: relative;
  transition: all 0.3s;
}
.mainSub section#section2 .container .gap .content .right .product .list .list-gap .img-box > img:hover {
  transform: scale(1.05);
}
.mainSub section#section2 .container .gap .content .right .product .list .list-gap .img-box span {
  position: absolute;
  z-index: 2;
  right: 20px;
  bottom: 20px;
}
.mainSub section#section2 .container .gap .content .right .product .list .list-gap .img-box span img {
  width: auto;
}
.mainSub section#section2 .container .gap .content .right .product .list .list-gap .txt-box {
  padding: 20px 0 10px 0;
}
.mainSub section#section2 .container .gap .content .right .product .list .list-gap .txt-box ul li {
  padding: 5px 0;
  color: #333;
  font-size: 16px;
}
.mainSub section#section2 .container .gap .content .right .product .list .list-gap .txt-box ul li:nth-child(1) {
  font-weight: 500;
  line-height: 140%;
}
.mainSub section#section2 .container .gap .content .right .product .list .list-gap .txt-box ul li:nth-child(2) {
  font-weight: 600;
}
.mainSub section#section2 .container .gap .content .right .product .list .list-gap .txt-box ul li:nth-child(2) strong {
  font-weight: 600;
  color: #c00;
}
.mainSub section#section2 .container .gap .content .right .product .list .list-gap .txt-box ul li:nth-child(2) span {
  font-weight: 600;
  margin: 0 0 0 10px;
}
.mainSub section#section2 .container .gap .content .right .product .list .list-gap .txt-box ul li:nth-child(2) em {
  font-size: 14ox;
  text-decoration: line-through;
  display: block;
  padding: 5px 0 0 0;
  font-weight: 400;
  color: #999;
}
.mainSub section#section2 .container .gap .content .right .product .list .list-gap .txt-box ul li:nth-child(3) img {
  width: 15px;
  transform: translateY(-1px);
}
.mainSub section#section2 .container .gap .content .right .product .list .list-gap .txt-box ul li:nth-child(3) span {
  font-size: 12px;
  color: #999;
  margin: 0 0 0 2px;
}
.mainSub section#section2 .container .gap .content .right .page-btn-box {
  padding: 60px 0 0 0;
  text-align: center;
}
.mainSub section#section2 .container .gap .content .right .page-btn-box a {
  display: inline-flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #333;
  border: 1px solid #eee;
  margin: 0 2px;
  background: #fff;
}
.mainSub section#section2 .container .gap .content .right .page-btn-box a.prev-btn {
  margin: 0 20px 0 0;
  border: 1px solid #5f0080;
}
.mainSub section#section2 .container .gap .content .right .page-btn-box a.prev-btn img {
  width: 60%;
  height: 60%;
  transform: rotate(180deg);
}
.mainSub section#section2 .container .gap .content .right .page-btn-box a.next-btn {
  margin: 0 0 0 20px;
  border: 1px solid #5f0080;
}
.mainSub section#section2 .container .gap .content .right .page-btn-box a.next-btn img {
  width: 60%;
  height: 60%;
}
.mainSub section#section2 .container .gap .content .right .page-btn-box a.on {
  color: #fff;
  border: 1px solid #5f0080;
  background: #5f0080;
}